{% extends "layers/layer_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Remove Layer' %}{% endblock %}

{% block subheader %}
<section id="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ layer.title }}</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
                <p class="lead">
                      {% blocktrans with layer.typename as layer_title %}
                      Are you sure you want to remove <a href="{{ layer.get_absolute_url }}">{{ layer_title }}</a>?
                      {% endblocktrans %}
                </p>
			</li>
			<li class="list-group-item">
				{% if layer.maps %}
				<ul class="nav nav-list">
				    <li class="nav-header">{% trans "This action affects the following maps:" %}</li>
				    {% for map_layer in layer.maps %}
				      <li><a href="{{ map_layer.map.get_absolute_url }}">{{ map_layer.map.title }}</a></li>
				    {% empty %}
				      <li>{% trans "No maps are using this layer" %}</li>
				    {% endfor %}
				</ul>
				{% endif %}
                <form action="{% url "layer_remove" layer.service_typename %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" value="{{ layer.service_typename }}" />
                    <div class="form-actions">
                        <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
                        <a href="{{ layer.get_absolute_url }}" class="btn btn-default">{% trans "No, don't remove it" %}</a>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
