{% extends "services/services_base.html" %}
{% load i18n %}

{% block title %} Services -- {{ block.super }} {% endblock %}

{% block page-title %}
<div class="banner">
  <div class="container">
    <a href="{% url "register_service" %}" class="btn btn-primary pull-right">{% trans "Register a new Service" %}</a>
    <h2 class="page-title">{% trans "Remote Services" %}</h2>
  </div>
</div>
{% endblock %}

{% block body_outer %}
{% if services %}
<table class="table table-striped">
  <thead>
  	<th>Title</th>
  	<th>URL</th>
    <th>Type</th>
  </thead>
  {% for service in services %}
  <tr>
	<td><a href='{% url "service_detail" service.id %}'>{{ service.title }} <span class="badge">{{ service.layer_set.count }}</span></a></td>
	<td><a href='{{ service.base_url }}' target="_blank" rel="noopener noreferrer">{{ service.base_url }}</a></td>
    <td>{{ service.service_type }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h4>No services registered</h4>
{% endif %}
{% endblock %}
