# GeoNode
# GeoNode==2.10
# idna==2.5
django-haystack==2.0.0
django-recaptcha==1.5.0
jwcrypto==0.9.1
PyJWT==1.7.1
-e git+https://github.com/GeoNode/geonode.git@2.10.x#egg=GeoNode
django-widget-tweaks
setuptools
pip