{% extends "maps/map_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Remove Map" %}{% endblock %}

{% block subheader %}
<section id="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ map.title }}</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
                <p class="lead">
			          {% blocktrans with map.title as map_title %}
			            Are you sure you want to remove <a href="{{ map.get_absolute_url }}">{{ map_title }}</a>?
			          {% endblocktrans %}
                </p>
			</li>
			<li class="list-group-item">
				<form action="{% url "map_remove" map.id %}" method="POST">
      			    {% csrf_token %}
      			    <div class="form-actions">
        				<input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
        				<a href="{{ map.get_absolute_url }}" class="btn btn-default">{% trans "No, don't remove it" %}</a>
      			    </div>
    			</form>
			</li>
		</ul>
    </div>
</div>
{% endblock %}
