{% load wagtailroutablepage_tags wagtailimages_tags puput_tags %}
{% if entry.categories.count > 0 %}
<ul class="links">
    <li class="category">{% categories_list entry.categories %}</li>
</ul>
{% endif %}
<h1>{{ entry.title }}</h1>
    <ul class="links">
        <li>
          by <a href="{% routablepageurl blog_page "entries_by_author" entry.owner.username %}">{{ entry.owner.username }}</a>
          on {{ entry.date|date:"DATE_FORMAT" }}</li>

        {% if entry.tags.count > 0 %}
            <li>
                <i class="fas fa-tag"></i>
                {% tags_list blog_page.num_tags_entry_header entry.tags %}
            </li>
        {% endif %}
        {% if blog_page.disqus_api_secret %}
            <li>
                <i class="fas fa-comments"></i>
                {{ entry.num_comments }}
            </li>
        {% endif %}
    </ul>
