{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Contact Us" %}{% endblock %}
{% block page-title %}{% trans "Contact Us" %}{% endblock %}

{% block body_class %}contact{% endblock %}

{% block middle %}
<header>
  <div class="container">
		<h3>{% trans "Contact Us" %}</h3>
	</div>
</header>
<div class="container">
  <form role="form" action="" class="form-horizontal" method="post">
  	<div class="row">
      <div class="col-md-12">
  			<h2>{% trans "Send us a Message" %}</h2>
  		</div>
      <div class="col-md-6">
        {{ form.contact_name.errors }}
        <label for="{{ form.contact_name.id_for_label }}">Your Name</label>
        <p>{{ form.contact_name }}</p>
      </div>
      <div class="col-md-6">
        {{ form.contact_email.errors }}
        <label for="{{ form.contact_email.id_for_label }}">Email Address</label>
        <p>{{ form.contact_email }}</p>
      </div>
      <div class="col-md-6">
        {% csrf_token %}
        {{ form.content.errors }}
        <label for="{{ form.content.id_for_label }}">Message</label>
        <p>{{ form.content }}</p>
      </div>
      <div class="col-md-6">
        <label>Are you a robot?</label>
        <div class="g-recaptcha" data-sitekey="6LeOaH0UAAAAAOnbf-9R6uKRDLY7Fojd1nBUJ_cN"></div>
        <button type="submit" class="btn btn-primary btn-block">{% trans "Send Message" %}</button>
      </div>
  		</div>
  	</div>
  </form>
</div>
{% endblock %}


{% block extra_script %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock extra_script %}
