{% extends "base.html" %}
{% load i18n avatar_tags %}

    {% block head %}
      {% if DEBUG_STATIC %}
      <link href="{{ STATIC_URL }}css/jquery.dataTables.css?v={{ VERSION }}" rel="stylesheet" />
      <link href="{{ STATIC_URL }}css/select2.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/jquery-ui.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css?v={{ VERSION }}" rel="stylesheet"/>
      {% else %}
      <link href="{{ STATIC_URL }}css/assets.min.css?v={{ VERSION }}" rel="stylesheet"/>
      {% endif %}
      <link href="{{ STATIC_URL }}css/ext-compatibility.css?v={{ VERSION }}" rel="stylesheet" />
      <link href="{{ STATIC_URL }}css/masdap.css" rel="stylesheet" />
      <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>
      {% block extra_head %}
      {% endblock %}
    {% endblock %}
	
    {% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <i class="fa fa-navicon fa-lg"></i>
                </button>
                <a class="navbar-brand" href="{% url "home" %}">MASDAP</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav toolbar">
                {% block tabs %}
                    <li id="nav_layers">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Data" %}<i class="fa fa-angle-down fa-lg"></i></a>
			            <ul class="dropdown-menu">
				            <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
				            <li><a href="/layers/?limit=100&offset=0&keywords__slug__in=osm">OpenStreetMap</a></li>
				            <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
							{% if user.is_authenticated %}
				            <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
			                <li role="separator" class="divider"></li>
				            <li><a href="/layers/upload">Upload Layer</a></li>
				            <li><a href="/documents/upload/">Upload Document</a></li>
				            <li><a href="/services/register/">{% trans "Add Remote Services" %}</a></li>
							{% endif %}
			            </ul>
                    </li>
                    <li id="nav_maps">
                        <a href="{% url "maps_browse" %}">{% trans "Maps" %}</a>
                    </li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "About" %}<i class="fa fa-angle-down fa-lg"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
							<li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
			                {% if perms.announcements.can_manage %}
			                <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
			                {% endif %}
							{% if user.is_superuser %}
						    <li role="separator" class="divider"></li>
							<li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
							<li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
							<li><a href="/groups/create/">{% trans "Create Group" %}</a></li>
							{% endif %}
						</ul>
					</li>
           	 		{% block extra_tab %}
           	 		{% endblock %}
          		  {% endblock %}
                </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="search">
						<form id="search" action="{% url "search" %}" >
                            <span class="fa fa-search"></span>
                            <!-- <input placeholder="Search..."> -->
		                    {% if HAYSTACK_SEARCH %}
		                    <input id="search_input" type="text" placeholder="Search" name="q">
		                    {% else %}
		                    <input id="search_input" type="text" placeholder="Search" name="title__icontains">
		                    {% endif %}
						</form>
                    </div>
                </li>
				{% if not user.is_authenticated and REGISTRATION_OPEN %}
	            <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
	            {% endif %}
				{% if user.is_authenticated %}
	            <li><a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% avatar user 42 %} {{ user.username }}<i class="fa fa-angle-down fa-lg"></i></a>
					<ul class="dropdown-menu">
					    <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
					    <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
						<li><a href="{% url "messages_inbox" %}">{% trans "Inbox" %}</a></li>
					    <li role="separator" class="divider"></li>
						<li><a href="/admin/">Admin</a></li>
					    <li><a href="/geoserver/">GeoServer</a></li>
					    <li role="separator" class="divider"></li>
						<li><a href="#">Help</a></li>
					    <li role="separator" class="divider"></li>
						<li><a href="/account/logout/">Logout</a></li>
					</ul>
				</li>
	            {% else %}
	            <li><a href="#" data-toggle="modal" data-target="#SigninModal" role="button" >{% trans "Sign in" %} </a></li>
				{% endif %}
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock header %}
	
    {% block middle %}
	<article>
		<header>
			<div class="container">
			    <h3>{% block title %}{% endblock %}</h3>
			</div>
		</header>
		{% block subheader %}{% endblock %}
        <div class="container">
            {% include "_status_message.html" %}
            {% include "_announcements.html" %}
            {% include "_messages.html" %}
            {% block body_outer %}
            <div class="row">
                <div class="col-md-8">
                {% block body %}{% endblock %}
                </div>
                <div class="col-md-4">
                {% block sidebar %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
	</article>
    {% endblock middle %}
	
	
	{% block footer %}
	
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>For more information please contact the MASDAP administrators.</h3>
					<h4>National Spatial Data Center</h4>
					<ul class="list-unstyled">
  						<li>Department of Surveys</li>
  						<li>13.973456 S, 33.7878122 E</li>
  						<li>Lilongwe, Malawi</li>
					</ul>
                </div>
				<div class="col-sm-4 col-sm-offset-4">
					<a href="/contact/" class="btn btn-primary btn-block">Contact Us</a>
				</div>
            </div>
        </div>
    </section>
	
	<footer>
		<div class="container">
			<div class="row">
			<div class="col-md-2">
				<ul class="list-unstyled">
				    <li>Data</li>
	                <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
	                <li><a href="/layers/?limit=100&offset=0&keywords__slug__in=osm">OpenStreetMap</a></li>
	                <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
				    {% if user.is_authenticated %}
	                <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
	                <li><a href="/layers/upload">Upload Layer</a></li>
	                <li><a href="/documents/upload/">Upload Document</a></li>
	                <li><a href="/services/register/">{% trans "Add Remote Services" %}</a></li>
				    {% endif %}
			    </ul>
			</div>
			<div class="col-md-2">
				<ul class="list-unstyled">
				    <li>Maps</li>
                    <li><a href="{% url "maps_browse" %}">{% trans "Explore" %}</a></li>
					{% if user.is_authenticated %}
					<li><a href="#">{% trans "Create Map" %}</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="list-unstyled">
				    <li>About</li>
					<li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
					<li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
	                {% if perms.announcements.can_manage %}
	                <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
	                {% endif %}
					{% if user.is_superuser %}
				    <li role="separator" class="divider"></li>
					<li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
					<li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
					<li><a href="/groups/create/">{% trans "Create Group" %}</a></li>
					{% endif %}
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4 text-right">
				<p><img src="/static/img/masdap-logo.png"></p>
				<p>Malawi Spatial Data Platform</p>
				<p>Powered by GeoNode</p>
			</div>
			</div>
		</div>
	</footer>
	{% endblock footer %}