{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
      <div class="container">
	      <h1>Malawi<br />Spatial Data Platform</h1>
	      <p></p>
          <h3>{% blocktrans %}A public platform for GIS Data <br/>to support development in Malawi{% endblocktrans %}</h3>
         <a class="btn btn-default btn-lg" href="#" role="button">{% blocktrans %}Get Started &raquo;{% endblocktrans %}</a>
      </div>
  </div>
  {% endblock %}
