{% extends "services/services_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}


{% endblock %}

{% block title %}Edit Service{% endblock %}

{% block body_outer %}
<div class="row">
	<div class="col-md-8">
		<ul class="list-group">
			<li class="list-group-item">
				<p class="lead">{%  trans "Edit the following service." %}
			</li>
			<li class="list-group-item">
				<form method="POST" id="service_edit_form">
					{% csrf_token %}
					{{ service_form|as_bootstrap }}
			</li>
			<li class="list-group-item">
				<input type="submit" class="btn btn-primary" value="{% trans "Save" %}"/></p>
				</form>
			</li>
		</ul>
	</div>
</div>
{% endblock %}