{% extends "services/services_base.html" %}
{% load i18n %}

{% block title %}Remote Services{% endblock %}

{% block body_outer %}
<div class="row">
	<div class="col-md-8">
		<ul class="list-group">
			<li class="list-group-item">
				{% if services %}
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<th>Title</th>
							<th>URL</th>
						</thead>
						<tbody>
							{% for service in services %}
							<tr>
								<td><a href='{% url "service_detail" service.id %}'>{{ service.title }}</a></td>
								<td><a href='{% url "service_detail" service.id %}'>{{ service.base_url }}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<p class="lead">No services registered.</p>
				{% endif %}
			</li>
			<li class="list-group-item">
				<a href="{% url "register_service" %}" class="btn btn-primary">{% trans "Register a new Service" %}</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}