{% extends "services/services_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}


{% endblock %}

{% block title %}{{ block.super }} {% trans "Edit Service" %} | {{service.title|default:service.name}}{% endblock %}
{% block page-title %}{% trans "Edit Services" %}{% endblock %}

{% block body %}
<form method="POST" id="service_edit_form">
  {% csrf_token %}
  {{ service_form|as_bootstrap }}
  <div class="grid-spacer">
    <p><input type="submit" class="btn btn-primary" value="{% trans "Save" %}"/></p>
  </div>
</form>
{% endblock %}