{% extends "groups/group_base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Remove Group" %} | {{ group.title }}{% endblock %}
{% block page-title %}{% trans "Remove Group" %}{% endblock %}

{% block body_class %}groups remove{% endblock %}

{% block body %}
 <h3>
{% blocktrans with group.title as group_title %}
Are you sure you want to remove the group: {{ group_title }}?
{% endblocktrans %}
 </h3>
<form action="{% url "group_remove" group.slug %}" method="POST">
	{% csrf_token %}
	<input type="hidden" value="{{ group.slug }}" />
	<input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
	<a href="{% url "group_detail" group.slug %}" class="btn btn-info">{% trans "No, don't remove it" %}</a>
</form>
{% endblock %}
