{% extends "groups/group_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{{ block.super }} {% trans "Manage Group Members" %} | {{ group.title }}{% endblock %}
{% block page-title %}{% trans "Manage Group Members" %}{% endblock %}

{% block body %}
<h3>{%  trans "Edit Members for"  %} <a href="{% url "group_detail" group.slug %}">{{ group.title }}</a></h3>
<h4>{%  trans "Members" %}</h4>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#all" data-toggle="tab"><i class=""></i>{% trans "All" %}</a></li>
			<li><a href="#managers" data-toggle="tab"><i class=""></i> {% trans "Managers" %}</a></li>
			<li><a href="#members" data-toggle="tab"><i class=""></i> {% trans "Members" %}</a></li>
		</ul>
		<div class="tab-content">
			<article id="all" class="tab-pane active">
				<ul class="list-unstyled">
					{% for member in members %}
					<li>
						<form method="POST" action="{% url "group_member_remove" group.slug member.user.username %}">
							<div class="btn-group btn-group-sm pull-right" role="group" aria-label="tools">
								{% if member.user.email %}
								<a href="mailto:{{ member.user.email }}" class="btn btn-default"><i class="fa fa-envelope-o"></i></a>
								{% endif %}
								{% csrf_token %}
								<button type="submit" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
							</div>
						</form>
						<p><strong>
						<a href="{{ member.user.get_absolute_url }}">
						{% if member.user.first_name %}
						{{ member.user.first_name  }} {{ member.user.last_name }}
						{% else %}
						{{ member.user.username }}
						{% endif %}
						</a></strong>
						{% if member.user.email %}
						<!-- <a href="mailto:{{ member.user.email }}"><i class="fa fa-envelope-o"></i></a> -->
						{% endif %}
						({{ member.user.username }}), {{ member.role }}
              	  		</p>
						<hr>
					</li>
					{% endfor %}
				</ul>
			</article>
			<article id="managers" class="tab-pane">
				<ul class="list-unstyled">
					{% for member in members %}
					{% if member.role = 'manager' %}
					<li>
						<form method="POST" action="{% url "group_member_remove" group.slug member.user.username %}">
							<div class="btn-group btn-group-sm pull-right" role="group" aria-label="tools">
								{% if member.user.email %}
								<a href="mailto:{{ member.user.email }}" class="btn btn-default"><i class="fa fa-envelope-o"></i></a>
								{% endif %}
								{% csrf_token %}
								<button type="submit" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
							</div>
						</form>
						<p><strong>
						<a href="{{ member.user.get_absolute_url }}">
						{% if member.user.first_name %}
						{{ member.user.first_name  }} {{ member.user.last_name }}
						{% else %}
						{{ member.user.username }}
						{% endif %}
						</a></strong>
						{% if member.user.email %}
						<!-- <a href="mailto:{{ member.user.email }}"><i class="fa fa-envelope-o"></i></a> -->
						{% endif %}
						({{ member.user.username }}), {{ member.role }}
              	  		</p>
						<hr>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</article>
			<article id="members" class="tab-pane">
				<ul class="list-unstyled">
					{% for member in members %}
					{% if member.role = 'member' %}
					<li>
						<form method="POST" action="{% url "group_member_remove" group.slug member.user.username %}">
							<div class="btn-group btn-group-sm pull-right" role="group" aria-label="tools">
								{% if member.user.email %}
								<a href="mailto:{{ member.user.email }}" class="btn btn-default"><i class="fa fa-envelope-o"></i></a>
								{% endif %}
								{% csrf_token %}
								<button type="submit" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
							</div>
						</form>
						<p><strong>
						<a href="{{ member.user.get_absolute_url }}">
						{% if member.user.first_name %}
						{{ member.user.first_name  }} {{ member.user.last_name }}
						{% else %}
						{{ member.user.username }}
						{% endif %}
						</a></strong>
						{% if member.user.email %}
						<!-- <a href="mailto:{{ member.user.email }}"><i class="fa fa-envelope-o"></i></a> -->
						{% endif %}
						({{ member.user.username }}), {{ member.role }}
              	  		</p>
						<hr>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</article>
        </div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
<ul class="list-group">
	{% if member_form %}
	<li class="list-group-item">
		<h4>{% trans "Add members" %}</h4>
		<form class="uniForm" method="POST" action="{% url "group_members_add" group.slug %}">
			{% csrf_token %}
            <div id="member_form_container">
              {{ member_form|as_bootstrap }}
            </div>
            <input type="submit" value="Add Group Members" class="btn btn-success btn-block"/>
		</form>
	</li>
	{% endif %}
	{% if invite_form %}
	<li class="list-group-item">
		<h4>{% trans "Invite people" %}</h4>
		<form class="uniForm" method="POST" action="{% url "group_invite" group.slug %}">
			{% csrf_token %}
			{{ invite_form|as_bootstrap }}
            <input type="submit" value="Invite" class="btn btn-danger btn-block"/>
		</form>
	</li>
	{% endif %}
</ul>
{% endblock %}

{% block extra_script %}
{% with "none" as layer %}
{% include "_permissions_form_js.html" %}
{% endwith %}
{% endblock extra_script %}
