{% extends "groups/group_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Create Group" %}{% endblock %}
{% block body_class %}groups update{% endblock %}

{% block page-title %}
<div class="banner">
  <div class="container">
    <h2 class="page-title">{% trans "Update Group" %}</h2>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8">
    {% if errors %}
      <div id="errors">
        {% for error in errors %}
          <div>{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <form class="uniForm" id="form" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        {{ form|as_bootstrap }}
        <input type="hidden" name="action" value="create" />
        <input type="submit" class="btn btn-primary" value="{% trans 'Update' %}"/>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
