{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}

{% block head_title %}{% trans "Password change" %}{% endblock %}
{% block title %}{% trans "Password change" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body_outer %}
<p>{% trans "Change your password here" %}</p>
<div class="row">
  <div class="col-md-6">
    <form method="POST" action="">
      <fieldset>
          {% csrf_token %}
          {{ form|as_bootstrap }}
          <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
