{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "Username Recovery" %}{% endblock %}

{% block body_outer %}
<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
			    <p class="lead">{% trans "Forgot Username?" %}</p>
			    <p>{% trans "Enter your email address and click the submit button. <br />Your username will be sent to you." %}</p>		  
		    </li>
            <li class="list-group-item">
			    <form method="post" action="">
			        {% csrf_token %}
			        {{ form.as_p }}
		    </li>
            <li class="list-group-item">
			        <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
			    </form>
			    {% if message %}
			    <div class="alert alert-danger grid-spacer">{{ message }}</div>
			    {% endif %}		  
		    </li>
			{% if message %}
            <li class="list-group-item">
			     <div class="alert alert-danger grid-spacer">{{ message }}</div>	  
		    </li>
			{% endif %}
	    </ul>
	</div>
</div>
{% endblock %}

