{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Username Recovery" %}{% endblock %}
{% block page-title %}{% trans "Username Recovery" %}{% endblock %}

{% block body_outer %}
<p class="lead">{% trans "Forgot Username?" %}</p>
<div class="row">
  <div class="col-md-8">
    <p>{% trans "Enter your email address and click the submit button. <br />Your username will be sent to you." %}</p>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
      </div>
    </form>
    {% if message %}
    <div class="alert alert-danger grid-spacer">{{ message }}</div>
    {% endif %}
  </div>
</div>
{% endblock %}

