{% extends "geonode-mapstore-client/snippets/brand_navbar.html" %}
{% load static %}
{% block extra_style %}
<style>
    #gn-brand-navbar {
        background-color: #2e2e2e;
        color: #ffffff;
    }
    #gn-brand-navbar ul li a:not(.dropdown-menu>li>a) {
        color: #ffffff;
    }
    #gn-brand-navbar ul li a:not(.dropdown-menu>li>a):hover {
        background-color:  #141414;
        color: #fff; 
    }
</style>
{% endblock %}
{% block logo_src %}
{% static 'img/logo.png' %}
{% endblock %}