body {font-family: 'Source Sans Pro', sans-serif;}
#aboutbutton {
    display: none;
}
#paneltbar {
    margin-top: 72px;
}
button.logout {
    display: none;
}
button.login {
    display:none;
}
.map-title-header {
    margin-right: 10px;
}