{% extends "site_base.html" %}
{% load i18n avatar_tags %}
{% load bootstrap_tags %}

{% block title %}{{ block.super }} {% trans "Change Avatar" %}{% endblock %}
{% block page-title %}{% trans "Change Avatar" %}{% endblock %}

{% block body_outer %}
<div class="row">
	<div class="col-md-4">
		{% avatar user 240 %}
	</div>
	<div class="col-md-6">
    	{% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    	{% else %}
        <form method="POST" action="{% url 'avatar_change' %}">
            <ul class="list-unstyled">
                {{ primary_avatar_form.as_ul }}
            </ul>
			<div class="row">
				<div class="col-md-5">
            		{% csrf_token %}
					<p><input type="submit" class="btn btn-primary btn-block" value="{% trans "Choose new Default" %}" /></p>
				</div>
			</div>	
        </form>
    	{% endif %}
		<hr/>
    	<form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        	{{ upload_avatar_form.as_p }}
			<div class="row">
				<div class="col-md-5">
        			{% csrf_token %}
					<p><input type="submit" class="btn btn-primary btn-block" value="{% trans "Upload New Image" %}" /></p>
				</div>
			</div>
    	</form>
		<div class="row">
			<div class="col-md-5">
				<a class="btn btn-danger btn-block" href="{% url 'avatar_delete' %}">{% trans "Delete Your Avatar" %}</a><br />
				<a class="btn btn-default btn-block" href="{% url "profile_edit" user.username %}">{% trans "Cancel" %}</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_head %}
<style> 
	ul#id_choice {list-style: none; margin-left: -40px;} 
	ul#id_choice li {display: inline;}
	input#id_avatar {width: 360px;}
	.btn {margin-top: 0.5em; margin-bottom: 0.5em;}
</style>
{% endblock %}